/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  /* Common css end*/

  /*Navbar CSS start*/

  #navbar{
    margin:20px 0px;
  }
  #navbar .container{
   width: 1140px;
   margin:0 auto;
  }

  #navbar .container .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #navbar .menu ul{
    display: flex;
    align-items: center;
  }

  #navbar .menu ul li {
    margin-left: 20px;
    position: relative;
  }

  #navbar .menu ul li a{
    color:black;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    transition: 0.4s;
  }
  #navbar .main .menu ul i {
    font-size: 5px;
    position: absolute;
    color: #5956e8;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    opacity: 0;
  }

  #navbar .main .menu a:hover{
    color: blue;
  }
  #navbar .main .menu a:hover i{
    opacity: 1;
    top: -10px;
  }

  /*Make Dropdown*/
  #navbar .main .menu .dropdown{
    display: block;
  }
  #navbar .main .menu .dropdown {
    display: block;
    position: absolute;
    width: 100px;
    background-color: #fff;
    top: 30px;
    left: -15px;
    transition: 0.4s;
    transition-delay: 0.2s;
    transform: scaleY(0);
    transform-origin: top;
  }
  #navbar .main .menu .dropdown li {
    margin-left: 0px;
    margin: 10px 0;
    padding-left: 10px;
  }
  
  #navbar .main .menu li:hover .dropdown {
    transform: scaleY(1);
  }
  #navbar .main .menu li:hover i {
    opacity: 1;
    top: -10px;
  }


  /*Make Dropdown*/
    /*Navbar CSS start*/